@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(to top, #0f66c8 0, #23a4e3 92.12%, #81b4e5) 100%;
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px 60px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container h3 {
  text-align: center;
}

.birthdate-form {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 12px;
}

.birthdate-form select {
  background: transparent;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  font-size: 16px;
  margin: 16px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  text-align: center;
}
.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 50%;
  padding: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.btn:hover {
  background: #fff;
  color: #0f66c8;
  border: 2px solid #0f66c8;
}
